<div class="mt-3 container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>welcome to <i class="fas fa-book"></i> Bookers !!</h1>
      <P>In <i class="fas fa-book"></i> Bookers,</P>
      <p>you can share and exchange your opinions , inpressions , and emotion</p>
      <p>about various books!</p>
      <%= link_to "Log in", new_user_session_path, class: "btn btn-info top-btn mb-3" %>

      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success top-btn" %>

    </div>
  </div>
</div>