<div class="mt-3 container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>welcome to <i class="fas fa-book"></i> Bookers !!</h1>
      <P>In <i class="fas fa-book"></i> Bookers,</P>
      <p>you can share and exchange your opinions , inpressions , and emotion</p>
      <p>about various books!</p>
      <%= link_to new_user_session_path do %>
        <button class="btn btn-info top-btn">Log in</button></br>
      <% end %>
      <%= link_to new_user_registration_path do %>
        <button class="mt-3 btn btn-success top-btn">Sign up</button>
      <% end %>
    </div>
  </div>
</div>